<div class="div-title">
    <h2 class="h2-title">Meu endereço</h2>
    <div class="div-bar"></div>
</div>


<div class="div-form">
    <div fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="45" fx>
            <cc-input ds_Label="CEP"></cc-input>
        </div>

        <div fxFlex="45">
            <cc-input ds_Label="Rua"></cc-input>
        </div>

        <div fxFlex="10">
            <cc-input ds_Label="Número"></cc-input>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="45">
            <cc-input ds_Label="Bairro"></cc-input>
        </div>

        <div fxFlex="45">
            <cc-input ds_Label="Cidade"></cc-input>
        </div>

        <div fxFlex="10">
            <cc-input ds_Label="UF"></cc-input>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="80">
            <cc-input ds_Label="Nome para o endereço"></cc-input>
        </div>

        <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
            <cc-checkbox></cc-checkbox> <span>Tornar principal</span>
        </div>
    </div>


    <div class="div-buttons" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
        <button class="button-back">Voltar</button>
        <button class="button-confirm">Confirmar</button>
    </div>
</div>