<div class="div-title">
    <h2 class="h2-title">Meu endereço</h2>
    <div class="div-bar"></div>
</div>


<div class="div-form">
    <div fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="45" fx>
            <cc-input [control]="$any(objFormGroup).get('nr_Cep')" ds_Label="CEP"></cc-input>
        </div>

        <div fxFlex="45">
            <cc-input [control]="$any(objFormGroup).get('nm_Street')" ds_Label="Rua"></cc-input>
        </div>

        <div fxFlex="10">
            <cc-input [control]="$any(objFormGroup).get('nr_Number')" ds_Label="Número"></cc-input>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="45">
            <cc-input [control]="$any(objFormGroup).get('nm_District')" ds_Label="Bairro"></cc-input>
        </div>

        <div fxFlex="45">
            <cc-input [control]="$any(objFormGroup).get('nm_City')" ds_Label="Cidade"></cc-input>
        </div>

        <div fxFlex="10">
            <cc-input [control]="$any(objFormGroup).get('nm_UF')" ds_Label="UF"></cc-input>
        </div>
    </div>

    <div fxLayout="row" fxLayoutGap="8px">
        <div fxFlex="80">
            <cc-input [control]="$any(objFormGroup).get('nm_Address')" ds_Label="Nome para o endereço"></cc-input>
        </div>

        <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
            <cc-checkbox></cc-checkbox> <span>Tornar principal</span>
        </div>
    </div>


    <div class="div-buttons" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
        <button class="button-back" (click)="Back()">Voltar</button>
        <button class="button-confirm" (click)="Save()">Confirmar</button>
    </div>
</div>