<div class="div-card">
    <div class="div-image">
        <img src="assets/images/tv.png">
    </div>

    <div class="div-informations" fxLayout="column">
        <div class="div-value">R$ 2.500,00</div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div class="div-parcel">
                12x R$ 120,00
            </div>
            <div class="div-quantity">
                12 vendidos
            </div>
        </div>
        <div class="div-name">Monitor LED 42" Philips</div>
    </div>
</div>