<div class="div-card">
    <div class="div-image">
        <img [src]="objProduct.ds_Image">
    </div>

    <div class="div-informations" fxLayout="column">
        <div class="div-value">{{objProduct.vl_Product | currency:'BRL':'symbol-narrow':'1.2-2'}}</div>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div class="div-parcel">
                12x {{objProduct.vl_Product / 12 | currency:'BRL':'symbol-narrow':'1.2-2'}}
            </div>
            <div class="div-quantity">
                {{objProduct.nr_Sold}} vendidos
            </div>
        </div>
        <div class="div-name">{{objProduct.nm_Product}}</div>
    </div>
</div>