<app-bar></app-bar>

<div class="div-classification" fxLayout="row">
    <div>
        <span class="span-classification">Classificado por</span>
    </div>

    <div class="div-buttons" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center center">
        <button class="button-classification selected">Referência</button>
        <button class="button-classification">Menor preço</button>
        <button class="button-classification">Maior preço</button>
    </div>

</div>

<div class="div-products">
    <cc-product-card>
    </cc-product-card>
</div>