<div class="div-bar">
    <div class="div-information" fxLayout="row">
        <div class="div-logo" fxFlex="200px" fxLayoutAlign="center center" routerLink="/">
            Comprei Chego
        </div>

        <div class="div-column-searchbar" fxFlex="auto" fxLayout="column">
            <div class="div-searchbar">
                <cc-searchbar>
                </cc-searchbar>
            </div>
            <div class="div-location" fxLayout="row">
                <div>
                    <img src="assets/icons/map-marker.svg">
                </div>

                <div fxLayout="column">
                    <span class="span-search">
                        Pesquisar na cidade de
                    </span>
                    <p class="p-city">
                        Cachoeiro de Itapemirim
                    </p>
                </div>
            </div>
        </div>

        <div class="div-column-cart" fxFlex="200px" fxLayout="column">
            <div routerLink="/cart">
                <img src="assets/icons/cart.svg">
            </div>

            <div class="div-user" fxLayout="row" fxLayoutAlign="center center" routerLink="/addresses">
                <img class="img-user" src="assets/images/user.png">

                <span class="span-user">
                    Gabriel Sereno
                </span>
            </div>
        </div>
    </div>
</div>