<app-bar></app-bar>

<div class="div-form">
    <div class="div-principal" fxLayout="row" fxLayoutGap="32px">
        <div>
            <div>
                <img class="div-main-image" [src]="ds_Main_Image">
            </div>

            <div fxLayout="row" fxLayoutGap="8px">
                <div *ngFor="let photo of objArraySecundaryPhotos">
                    <img class="div-secondary-image" [src]="photo.ds_Image">
                </div>
            </div>

        </div>

        <div style="width: 100%;">
            <div fxLayout="row">
                <div fxFlex="80">
                    <h2>{{objProduct.nm_Product}}</h2>
                    <p class="p-sold">{{objProduct.nr_Quantity}} vendidos</p>
                    <p class="p-value">{{objProduct.vl_Product | currency:'BRL':'symbol-narrow':'1.2-2'}}</p>
                </div>

                <div fxLayout="column" fxLayoutAlign="center end" fxFlex="20" class="div-mall">
                    <img [src]="objProduct.user.ds_Image">
                    <span>{{objProduct.user.nm_Seller_Name}}</span>
                </div>
            </div>

            <!-- <div fxLayout="row" class="div-variations">
                <span fxFlex="130px" class="span-variations">Variações</span>
    
                <div fxLayout="row" fxLayoutGap="8px">
                    <button class="button-variation selected">Gamer 8GB</button>
                    <button class="button-variation">Branco 8GB</button>
                </div>
            </div> -->

            <div fxLayout="row" class="div-quantity">
                <span fxFlex="130px" class="span-quantity">Quantidade</span>

                <cc-quantity-selector>
                </cc-quantity-selector>
            </div>

            <div fxLayout="row" fxLayoutGap="8px" class="div-buttons">
                <button class="button-add-cart">Adicionar ao carrinho</button>
                <button class="button-buy-now">Comprar agora</button>
            </div>
        </div>

    </div>

    <div class="div-description">
        <div class="div-separator">
            <hr>
        </div>

        <div>
            <div>
                <h2 class="h2-title">Detalhes do produto</h2>
                <div class="div-bar"></div>
            </div>

            <div class="div-text">
                {{objProduct.ds_Detail}}
            </div>
        </div>
    </div>
</div>