<app-bar></app-bar>

<div class="div-content" fxLayout="row">

    <cc-menu></cc-menu>

    <div class="div-form">
        <div class="div-title">
            <span>Compras</span>
        </div>

        <div class="div-purchase">
            <div class="div-header-purchase">
                <div style="font-size: 18px;">
                    Pedido 12398123908123
                </div>

                <div class="div-purchase-date">
                    Data de compra: 19/10/2021
                </div>
            </div>

            <div class="div-item-purchase" fxLayout="row" fxLayoutAlign="center center">
                <img src="assets/images/purchase-1.png">

                <div class="div-product-name" fxFlex="50">
                    <span>PC Gamer 8GB de RAM</span>
                    <p>Sipollati</p>
                </div>

                <div fxFlex="20">
                    Quantidade: 3
                </div>

                <div fxFlex="20" class="div-price">R$ 2.500,00</div>
            </div>

            <div class="div-footer-purchase">
                <span class="span-total">Total: <b class="b-value">R$ 5.000,00</b></span>
            </div>
        </div>
    </div>
</div>