@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --laranja: #FE742C;
    --cinza-escuro: #838383;
    --cinza-claro: #DEDEDE;
    --azul-claro: #35B7C5;
    --azul-escuro: #344E6D;
    --preto: #333333;
}

html,
body,
button,
input {
    font-family: MontSerrat;
    margin: 0;
    background: #EBEBEB;
}

.mat-typography {
    font: unset;
    letter-spacing: unset;
    
    h2,h3{
        font: unset;
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: unset;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
    }

    h3{
        font-size: 1.17em;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}